<html>
	<head>
		<title>GitHub Analytics</title>
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/navbar.css">
	</head>
	<body>
		{% include "navbar.html" %}
		
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">What is this?</h3>
					</div>
					<div class="panel-body">
						<p>GitHub Analytics is an Open Source Tool available on
							<a href="https://github.com/daknob/github-analytics">
							GitHub</a>. It has been created by
							<a href="https://daknob.net/">
							Antonios A. Chariton</a>
							for the <a href="https://devstaff.gr/">DevStaff</a>
							community in Crete, Greece. It is written in
							Python, using <a href="http://flask.pocoo.org/">
							Flask</a>. The
							<a href="https://github.com/kabitakis/github-analytics">
							original GitHub Analytics</a> was written by
							<a href="https://twitter.com/kabitakis">@kabitakis</a>
							and was in NodeJS.
						</p>
						<p>
							The main difference between the two versions is that
							this one uses the new GitHub Reactions, while Nikos'
							searches for a substring in every issue comment. That
							means this one is much faster since it only makes one
							single request to GitHub, as opposed to as many requests
							as there are issues.
						</p>
						<p>
							However, this speed benefit comes at a cost: the Reactions
							API is still in beta, and therefore it may stop working
							or change at any time. That means this tool may also stop
							functioning and comes without any warranty, express or
							implied. The developer(s) will do as much as they can
							to support this software, however time and resources
							are limited. If you see the software misbehaving, please
							open an issue on GitHub.
						</p>
					</div>
				</div>
			</div>
		</div>
		
		{% include "footer.html" %}
	</body>
</html>